<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learnsystem.dao.AttachmentDao">

    <insert id="add" parameterType="Attachment" useGeneratedKeys="true" keyProperty="id">
        insert into attachment(fileName,articleId)
        value(#{fileName},#{articleId})
    </insert>

    <delete id="delete" parameterType="int">
        delete from article where id=#{id}
    </delete>

    <delete id="deleteByArticle" parameterType="int">
        delete from article where articleId=#{articleId}
    </delete>

    <update id="update" parameterType="Attachment">
        update attachment
        <set>
            <if test="fileName!=null and fileName!=''">
                fileName=#{fileName},
            </if>
            <if test="articleId!=null and articleId!=''">
                articleId=#{articleId},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="getById" parameterType="int" resultType="Attachment">
        select * from attachment where id=#{id}
    </select>

    <select id="getAttachments" parameterType="int" resultType="Attachment">
        select * from attachment where articleId=#{articleId}
    </select>
</mapper>
